*{
    color: greenyellow;
    background-color: rgb(77, 4, 43);
    background-image: url("img.jpg");
    /* height:1000px;
    width:1000px; */
    background-repeat:no-repeat;
    /* background-size: 100px; */
    background-attachment: scroll;
    background-size:100px;
    background-position: center;
    background-repeat: no-repeat;
}
