nav a{
    text-decoration: none;
    color:white;
    text-align:center;
    padding:20px;
    float:left;
    

}
nav{
    background-color: aquamarine;
    overflow: hidden;
    align-items: center;

}
nav a:hover{
    color:tomato;
}
nav a:visited{
    color:blue;
}